
<!DOCTYPE html>
<html lang="en">

<head>
  <title>MunchOut</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>

  <div>
    <img class="logo" src="/assets/MunchOut.jpeg" alt="MunchOut"/>
    <h1>MENU</h1>

    <% items.forEach((item) => { %>
      <div class="orderItem" id="<%= item.id %>">
        <img src="<%= item.thumbnail_url %>"/>
        <b><%= item.name %> : $<%= (item.price / 100).toFixed(2) %></b>
        <br/>
        <%= item.description %>
        Quantity: <span>0</span>
        <button class="incItem">+</button>
        <button class="decItem">-</button>
      </div>
    <% }) %>



    <form id="orderForm" method="POST" action="/api/orders">
      <h2>Place your order</h2>
      <input type="hidden" id="Item_Id" name="Item_Id" />
      <input id="placeOrder" type="submit" value="Place your order" />
    </form>

  </div>
</body>

</html>




